<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utils.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="From Fill and Error Validation">
        <classes>
            <class name="Andriod.ECOM_TC_1">
                <methods>
                    <include name="FillFormPositive"/>
                    <include name="FillFormNegative"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="End to End Flow">
        <classes>
            <class name="Andriod.ECOM_TC_4">
                <methods>
                    <include name="E2E"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>